extends index.pug

block content
  h2 LightAlarm Transactions (Type: 23)

  table(border='1')
    tr
      th ID
      th Timestamp
      th SenderId
      th RecipientId
      th Asset

    each transaction in transactions
      tr
        td= transaction.id
        td= transaction.timestamp
        td= transaction.senderId
        td= transaction.recipientId
        td= JSON.stringify(transaction.asset, null, 2) || '{}'
