extends index.pug

block content
  h2 RegisterPacket Transactions (Type: 20)

  table(border='1')
    tr
      th ID
      th Timestamp
      th SenderId
      th RecipientId
      th Postage
      th MinTrust
      th PacketID
      th Security

    each transaction in transactions
      tr
        td= transaction.id
        td= transaction.timestamp
        td= transaction.senderId
        td= transaction.recipientId
        td= transaction.asset.postage
        td= transaction.asset.minTrust
        td= transaction.asset.packetId
        td= transaction.asset.security
